@use '../abstracts/variables' as *;
@use '../base/typography' as *;

.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: $color-green;
    padding: 20px;

    .footer-column {
        width: 25%; 
        padding: 10px;
        color: $color-white;

        h3 {
            margin-bottom: 10px;
            font-size: $font_size-h3;
        }

        p {
            margin: 5px 0;
            font-size: $font_size-p;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }
}
