@use '../abstracts/variables' as *;
@use '../base/typography' as *;

.container_page2 {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('img/back2.png') no-repeat center center fixed;
  background-size: cover;
  background-color: $color-white;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

    .left-content {
      text-align: left;
      margin-right: auto;
    }

    .right-content img {
      max-width: 300%;
      height: auto;
    }
  }

  h2 {
    font-size: $font_size-h2;
    margin-bottom: 10px;
    color: $color-green;
    text-align: left;
  }

  p {
    font-size: $font_size-p;
    margin-bottom: 20px;
    color: $color-black;
    text-align: left;
  }

  button {
    padding: 10px 20px;
    background-color: $color-green;
    color: $color-white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
  }
}
