@use '../abstracts/variables' as *;
@use '../base/typography' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: url('img/back1.png') no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: $color-white;

  .logo img {
    width: 50px;
    height: auto;
  }
}

.nav-list {
  list-style-type: none;
  display: flex;

  li {
    margin: 0 15px;
  }

  a {
    text-decoration: none;
    color: $color-white;
    font-weight: bold;
  }
}

.commander-btn button {
  background-color: $color-white;
  color: $color-green;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container_page1 {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  position: relative;

  .social-icons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  h1 {
    color: $color-white;
    margin-bottom: 10px;
    font-size: $font_size-h1;
  }

  p {
    color: $color-white;
    margin-top: 10px;
    font-size: $font_size-p;
    transform: skewY(-10deg);
  }
}

.logo img {
  width: 220px;
  height: auto;
}
